* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf0f1;
    font-family: 'Nunito', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #ecf0f1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px repeat(3, 1fr) 100px;
    grid-template-areas: "d d d . . ."
                         "q q q q . ."
                         "p p p p . f"
                         "a a a a . f"
                         "b b b b . f";
}

#personal-data{
    background-color: #3498db;
    grid-area: d;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "i n"
                         "i l";
    font-size: 25px;
    padding: 1vmax;
    box-shadow: 1px 1px 3px black;
    border-bottom-right-radius: 4px;
    
}

#image{
    grid-area: i;
    display: grid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 100%;
    align-self:center;
    justify-self: center;
}

#name{
    grid-area: n;
    color: #ecf0f1;
    display: grid;
    align-self: end;
}

#location{
    grid-area: l;
    color: #ecf0f1;
    display: grid;
}

.text{
    font-size: 2vmax;
    text-align: left;
    color: #2c3e50;
    padding: 2vmax;  
    align-content: center; 
}

#quote{
    grid-area: q;
    display: grid;
}

.text>p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.8vmax;
    margin: 10px;
    display: grid;
}

#pokemon{
    grid-area: p;
    font-size: 20px;
    padding: 1vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2c3e50;
}

#pokemon>img{
    width: 150px;
    height: 150px;
    display: inline-block;
    background-size: 100%;
    justify-self: center;
    cursor: pointer;
}

#pokemon>p{
    vertical-align: middle;
}

#about{
    grid-area: a
}

#about>p{
    font-size: 1.5vmax;
}

#friends{
    grid-area: f;
    background-color: #3498db;
    font-size: 2vmax;
    color: #ecf0f1;
    border-top-left-radius: 4px;
    box-shadow: -1px -1px 3px black;
    padding-left: 1vmax;
}

#friends>h3{
    margin-top: 5%;
}

ul {
    list-style-type: none;
    margin-left: 5%;
    font-size:medium;
}

li{
    margin-top: 15%;
    color: gainsboro;
}

#buttons{
    grid-area: b;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

button {
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #27ae60;
    color: #ecf0f1;
    font-size: 120%;
    cursor: pointer;
}

